# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test
*.*.swp

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# logs
*.log

# MacOS DS_Store
.DS_Store

# Gopath
/vendor

# App specific
/chaindata
/helloworld.db
/helloworld
/contracts
/loom
ladmin
protoc-gen-gogo

/e2e/tests/receipts/cluster
/e2e/tests/receipts/cluster.log
/e2e/tests/receipts/loom.pid
/e2e/tests/truffle/node_modules
/auth/newpk
/e2e/tests/truffle/eth_account
/e2e/tests/truffle/eth_private_key
/e2e/tests/truffle/eth_mnemonic
