QueryServerHost: "tcp://0.0.0.0:9999"
BFTLogLevel: "debug"
Peers: ""
ChainID: ""
RootDir: ""
DBName: ""
GenesisFile: ""
PluginsDir: ""
QueryServerHost: ""
EventDispatcherURI: ""
ContractLogLevel: ""
LoomLogLevel: ""
LogStateDB: false
LogEthDbBatch: false
UseCheckTx: true
RPCBindAddress: "tcp://0.0.0.0:46658"
Oracle:         "default:0x4235a168DF6abe9748f4c8D2d58b8bd46BA4c0b7"
SessionMaxAccessCount: "0"
SessionDuration: "600"
PlasmaCashEnabled: false
DeployEnabled:         true
CallEnabled:           true