QueryServerHost: "tcp://0.0.0.0:9999"
BFTLogLevel: "debug"
Peers: ""
RootDir: ""
DBName: ""
GenesisFile: ""
PluginsDir: ""
QueryServerHost: ""
EventDispatcherURI: ""
ContractLogLevel: ""
LoomLogLevel: ""
SessionMaxAccessCount: "0"
SessionDuration: "600"
PlasmaCashEnabled: false