QueryServerHost: "tcp://0.0.0.0:9999"
BFTLogLevel: "debug"
Peers: ""
ChainID: ""
RootDir: ""
DBName: ""
GenesisFile: ""
PluginsDir: ""
QueryServerHost: ""
EventDispatcherURI: ""
ContractLogLevel: ""
LoomLogLevel: ""
LogStateDB: false
LogEthDbBatch: false
UseCheckTx: true
UseDeliverTx: true
#SessionMaxAccessCount: "0"
# SessionDuration: "600"
# PlasmaCashEnabled: false