############ Preparing for dpos wallet for election ############
[[TestCases]]
  RunCmd = "example-cli call transfer dposV2 80 -p {{index $.AccountPrivKeyPathList 0}}"
  Condition = ""

[[TestCases]]
  RunCmd = "example-cli call transfer dposV2 80 -p {{index $.AccountPrivKeyPathList 1}}"
  Condition = ""

[[TestCases]]
  RunCmd = "example-cli call balance dposV2"
  All = true
  Condition = "contains"
  Expected = ["160000000000000000000"]

############ Registering candidates  ############

[[TestCases]]
  RunCmd = "example-cli call register_candidateV2 {{index $.AccountPubKeyList 0}} -p {{index $.AccountPrivKeyPathList 0}}"

[[TestCases]]
  RunCmd = "example-cli call register_candidateV2 {{index $.AccountPubKeyList 1}} -p {{index $.AccountPrivKeyPathList 1}}"

[[TestCases]]
  RunCmd = "example-cli call register_candidateV2 {{index $.AccountPubKeyList 2}} -p {{index $.AccountPrivKeyPathList 2}}"

[[TestCases]]
  RunCmd = "example-cli call register_candidateV2 {{index $.AccountPubKeyList 3}} -p {{index $.AccountPrivKeyPathList 3}}"

[[TestCases]]
  RunCmd = "example-cli call list_candidatesV2"
  Condition = "contains"
  Expected = ["{{index $.AccountPubKeyList 0}}", "{{index $.AccountPubKeyList 1}}", "{{index $.AccountPubKeyList 2}}", "{{index $.AccountPubKeyList 3}}"]

[[TestCases]]
  RunCmd = "checkapphash"

############ Voting for candidates  ############
#
[[TestCases]]
  RunCmd = "example-cli call approve dposV2 500 -p {{index $.AccountPrivKeyPathList 0}}"
  Condition = ""

[[TestCases]]
  RunCmd = "example-cli call approve dposV2 500 -p {{index $.AccountPrivKeyPathList 1}}"
  Condition = ""

[[TestCases]]
  RunCmd = "example-cli call approve dposV2 500 -p {{index $.AccountPrivKeyPathList 2}}"
  Condition = ""

[[TestCases]]
  RunCmd = "example-cli call approve dposV2 500 -p {{index $.AccountPrivKeyPathList 3}}"
  Condition = ""

[[TestCases]]
  RunCmd = "example-cli call approve dposV2 500 -p {{index $.AccountPrivKeyPathList 4}}"
  Condition = ""

[[TestCases]]
  RunCmd = "example-cli call approve dposV2 500 -p {{index $.AccountPrivKeyPathList 5}}"
  Condition = ""

[[TestCases]]
  RunCmd = "example-cli call approve dposV2 500 -p {{index $.AccountPrivKeyPathList 6}}"
  Condition = ""

[[TestCases]]
  RunCmd = "example-cli call approve dposV2 500 -p {{index $.AccountPrivKeyPathList 7}}"
  Condition = ""

[[TestCases]]
  RunCmd = "example-cli call list_validatorsV2"
  Condition = "contains"
  Expected = ["{{index $.NodePubKeyList 0}}", "{{index $.NodePubKeyList 1}}", "{{index $.NodePubKeyList 2}}", "{{index $.NodePubKeyList 3}}", "{{index $.NodePubKeyList 4}}", "{{index $.NodePubKeyList 5}}", "{{index $.NodePubKeyList 6}}", "{{index $.NodePubKeyList 7}}"]

[[TestCases]]
  RunCmd = "example-cli call delegateV2 {{index $.AccountAddressList 0}} 10 -p {{index $.AccountPrivKeyPathList 0}}"

[[TestCases]]
  RunCmd = "example-cli call delegateV2 {{index $.AccountAddressList 0}} 10 -p {{index $.AccountPrivKeyPathList 0}}"

[[TestCases]]
  RunCmd = "example-cli call delegateV2 {{index $.AccountAddressList 1}} 20 -p {{index $.AccountPrivKeyPathList 1}}"

[[TestCases]]
  RunCmd = "example-cli call delegateV2 {{index $.AccountAddressList 0}} 1 -p {{index $.AccountPrivKeyPathList 0}}"

[[TestCases]]
  RunCmd = "example-cli call delegateV2 {{index $.AccountAddressList 2}} 19 -p {{index $.AccountPrivKeyPathList 2}}"

[[TestCases]]
  RunCmd = "example-cli call delegateV2 {{index $.AccountAddressList 3}} 21 -p {{index $.AccountPrivKeyPathList 3}}"

[[TestCases]]
  RunCmd = "checkapphash"

############ Running the first election  ############

# [[TestCases]]
#   RunCmd = "example-cli call elect_delegationV2 -p {{index $.AccountPrivKeyPathList 0}}"
#   Condition = ""
#   Delay = 1000

############ Checking the first election result  ############

[[TestCases]]
  RunCmd = "checkapphash"
  Delay = 1000

[[TestCases]]
  RunCmd = "example-cli call list_validatorsV2"
  All = true
  Condition = "contains"
  Expected = ["{{index $.AccountPubKeyList 0}}", "{{index $.AccountPubKeyList 1}}", "{{index $.AccountPubKeyList 2}}", "{{index $.AccountPubKeyList 3}}"]

# DPOS remaining after paying for 8 nodes
#[[TestCases]]
#  RunCmd = "example-cli call balance dposV2"
#  All = true
#  Condition = "contains"
#  Expected = ["80000000000000000000"]

# the prevous witnesses list would be paid for services
#[[TestCases]]
#  RunCmd = "example-cli call balance {{index $.NodeAddressList 0}}"
#  All = true
#  Condition = "contains"
#  Expected = ["10000000000000000000"]
#
#[[TestCases]]
#  RunCmd = "example-cli call balance {{index $.NodeAddressList 1}}"
#  All = true
#  Condition = "contains"
#  Expected = ["10000000000000000000"]
#
#[[TestCases]]
#  RunCmd = "example-cli call balance {{index $.NodeAddressList 2}}"
#  All = true
#  Condition = "contains"
#  Expected = ["10000000000000000000"]
#
#[[TestCases]]
#  RunCmd = "example-cli call balance {{index $.NodeAddressList 3}}"
#  All = true
#  Condition = "contains"
#  Expected = ["10000000000000000000"]
#
#[[TestCases]]
#  RunCmd = "example-cli call balance {{index $.NodeAddressList 4}}"
#  All = true
#  Condition = "contains"
#  Expected = ["10000000000000000000"]
#
#[[TestCases]]
#  RunCmd = "example-cli call balance {{index $.NodeAddressList 5}}"
#  All = true
#  Condition = "contains"
#  Expected = ["10000000000000000000"]
#
#[[TestCases]]
#  RunCmd = "example-cli call balance {{index $.NodeAddressList 6}}"
#  All = true
#  Condition = "contains"
#  Expected = ["10000000000000000000"]
#
#[[TestCases]]
#  RunCmd = "example-cli call balance {{index $.NodeAddressList 7}}"
#  All = true
#  Condition = "contains"
#  Expected = ["10000000000000000000"]

############ Preparing for the second election ############

[[TestCases]]
  RunCmd = "example-cli call register_candidateV2 {{index $.AccountPubKeyList 2}} -p {{index $.AccountPrivKeyPathList 2}}"

[[TestCases]]
  RunCmd = "example-cli call register_candidateV2 {{index $.AccountPubKeyList 3}} -p {{index $.AccountPrivKeyPathList 3}}"

[[TestCases]]
  RunCmd = "example-cli call register_candidateV2 {{index $.AccountPubKeyList 4}} -p {{index $.AccountPrivKeyPathList 4}}"

[[TestCases]]
  RunCmd = "example-cli call register_candidateV2 {{index $.AccountPubKeyList 5}} -p {{index $.AccountPrivKeyPathList 5}}"

[[TestCases]]
  RunCmd = "example-cli call list_candidatesV2"
  All = true
  Condition = "contains"
  Expected = ["{{index $.AccountPubKeyList 0}}", "{{index $.AccountPubKeyList 1}}", "{{index $.AccountPubKeyList 2}}", "{{index $.AccountPubKeyList 3}}","{{index $.AccountPubKeyList 4}}","{{index $.AccountPubKeyList 5}}"]

[[TestCases]]
  RunCmd = "example-cli call delegateV2 {{index $.AccountAddressList 2}} 21 -p {{index $.AccountPrivKeyPathList 2}}"

[[TestCases]]
  RunCmd = "example-cli call delegateV2 {{index $.AccountAddressList 3}} 21 -p {{index $.AccountPrivKeyPathList 3}}"

[[TestCases]]
  RunCmd = "example-cli call delegateV2 {{index $.AccountAddressList 4}} 21 -p {{index $.AccountPrivKeyPathList 5}}"

[[TestCases]]
  RunCmd = "example-cli call delegateV2 {{index $.AccountAddressList 5}} 21 -p {{index $.AccountPrivKeyPathList 4}}"

[[TestCases]]
  RunCmd = "example-cli call delegateV2 {{index $.AccountAddressList 3}} 21000000 -p {{index $.AccountPrivKeyPathList 3}}"
  Condition = "contains"
  Expected = ["amount is over spender's limit"]

[[TestCases]]
  RunCmd = "checkapphash"
  Delay = 500

# [[TestCases]]
#   RunCmd = "example-cli call elect_delegationV2 -p {{index $.AccountPrivKeyPathList 3}}"
#   Condition = ""
#   Delay = 1000

############ Checking the second election result  ############

[[TestCases]]
  RunCmd = "example-cli call list_validatorsV2"
  All = true
  Condition = "contains"
  Expected = ["{{index $.AccountPubKeyList 2}}","{{index $.AccountPubKeyList 3}}", "{{index $.AccountPubKeyList 4}}", "{{index $.AccountPubKeyList 5}}"]

# DPOS remaining after paying for 4 nodes
#[[TestCases]]
#  RunCmd = "example-cli call balance dposV2"
#  All = true
#  Condition = "contains"
#  Expected = ["40000000000000000000"]

# account balance after get paid for service
#[[TestCases]]
#  RunCmd = "example-cli call balance {{index $.AccountAddressList 0}}"
#  Condition = "contains"
#  Expected = ["30000000000000000000"]
#
#[[TestCases]]
#  RunCmd = "example-cli call balance {{index $.AccountAddressList 1}}"
#  Condition = "contains"
#  Expected = ["3000000000000000000"]
#
#[[TestCases]]
#  RunCmd = "example-cli call balance {{index $.AccountAddressList 2}}"
#  Condition = "contains"
#  Expected = ["11000000000000000000"]
#
#[[TestCases]]
#  RunCmd = "example-cli call balance {{index $.AccountAddressList 3}}"
#  Condition = "contains"
#  Expected = ["11000000000000000000"]

############ Running the third election  ############

[[TestCases]]
  RunCmd = "example-cli call delegateV2 {{index $.AccountAddressList 0}} 21000000 -p {{index $.AccountPrivKeyPathList 0}}"
  Condition = "contains"
  Expected = ["amount is over spender's limit"]

## TODO should this even fail? rework after block reward mechanism is in place
## Failed election since the dpos balance is too low after paying out witnesses
#[[TestCases]]
#  RunCmd = "example-cli call elect_delegationV2 -p {{index $.AccountPrivKeyPathList 0}}"
#  Condition = "contains"
#  Expected = ["sender balance is too low"]

############ Voting for candidates  ############

[[TestCases]]
  RunCmd = "example-cli call delegateV2 {{index $.AccountAddressList 4}} 21 -p {{index $.AccountPrivKeyPathList 6}}"

############ Running the fourth election  ############

[[TestCases]]
  RunCmd = "example-cli call transfer dposV2 30 -p {{index $.AccountPrivKeyPathList 5}}"

#[[TestCases]]
#  RunCmd = "example-cli call balance dposV2"
#  All = true
#  Condition = "contains"
#  Expected = ["70000000000000000000"]

# [[TestCases]]
#   RunCmd = "example-cli call elect_delegationV2 -p {{index $.AccountPrivKeyPathList 3}}"

[[TestCases]]
  RunCmd = "example-cli call list_validatorsV2"
  All = true
  Condition = "contains"
  Expected = ["{{index $.AccountPubKeyList 4}}"]
