[[TestCases]]
  RunCmd = "check_validators"
  Condition = "contains"
  Expected = ["{{index $.NodePubKeyList 0}}"]

[[TestCases]]
  RunCmd = "{{ $.LoomPath }} chain-cfg list-features"
  Condition = "contains"
  Expected = [ 'dpos:v3.2' ]

[[TestCases]]
  RunCmd = "{{ $.LoomPath }} dpos3 list-validators"

[[TestCases]]
  RunCmd = "{{ $.LoomPath }} dpos3 set-downtime-period 1 -k {{index $.NodePrivKeyPathList 0}}"
  Condition = "excludes"
  Excluded = ["Error"]

[[TestCases]]
  RunCmd = "{{ $.LoomPath }} coin approve dposV3 1250000 -k {{index $.NodePrivKeyPathList 0}}"

[[TestCases]]
  RunCmd = "{{ $.LoomPath }} dpos3 register-candidate {{index $.NodePubKeyList 0}} 100 -k {{index $.NodePrivKeyPathList 0}}"

[[TestCases]]
  RunCmd = "{{ $.LoomPath }} coin approve dposV3 1250000 -k {{index $.NodePrivKeyPathList 1}}"

[[TestCases]]
  RunCmd = "{{ $.LoomPath }} dpos3 register-candidate {{index $.NodePubKeyList 1}} 100 -k {{index $.NodePrivKeyPathList 1}}"

[[TestCases]]
  RunCmd = "{{ $.LoomPath }} coin approve dposV3 1250000 -k {{index $.NodePrivKeyPathList 2}}"

[[TestCases]]
  RunCmd = "{{ $.LoomPath }} dpos3 register-candidate {{index $.NodePubKeyList 2}} 100 --name numero_dos -k {{index $.NodePrivKeyPathList 2}}"

[[TestCases]]
  RunCmd = "{{ $.LoomPath }} coin approve dposV3 1250000 -k {{index $.NodePrivKeyPathList 3}}"

[[TestCases]]
  RunCmd = "{{ $.LoomPath }} dpos3 register-candidate {{index $.NodePubKeyList 3}} 100 -k {{index $.NodePrivKeyPathList 3}}"

[[TestCases]]
  RunCmd = "{{ $.LoomPath }} dpos3 list-candidates"
  Condition = "contains"
  Expected = ["{{index $.NodePubKeyList 1}}", "{{index $.NodePubKeyList 3}}", "{{index $.NodePubKeyList 2}}"]

[[TestCases]]
  RunCmd = "{{ $.LoomPath }} coin approve dposV3 222 -k {{index $.NodePrivKeyPathList 2}}"

[[TestCases]]
  RunCmd = "{{ $.LoomPath }} dpos3 delegate {{index $.NodeAddressList 1}} 222 0 -k {{index $.NodePrivKeyPathList 2}}"
  Condition = "excludes"
  Excluded = ["Error"]

[[TestCases]]
  RunCmd = "{{ $.LoomPath }} dpos3 check-all-delegations {{index $.NodeAddressList 2}}"
  Condition = "contains"
  Expected = ["chainId\": \"default"]

[[TestCases]]
  RunCmd = "kill_and_restart_node 10 1"

[[TestCases]]
  Delay = 17000
  RunCmd = "{{ $.LoomPath }} dpos3 downtime-record {{index $.NodeAddressList 1}}"
  Condition = "contains"
  Expected = ["periods"]

[[TestCases]]
  RunCmd = "{{ $.LoomPath }} dpos3 list-candidates"
  Condition = "contains"
  Expected = ["jailed\": true"]

[[TestCases]]
  RunCmd = "{{ $.LoomPath }} dpos3 unjail-validator -k {{index $.NodePrivKeyPathList 1}}"
  Condition = "contains"
  Expected = [""]

[[TestCases]]
  RunCmd = "{{ $.LoomPath }} dpos3 list-candidates"
  Condition = "excludes"
  Excluded = ["jailed\": true"]
