[[TestCases]]
  RunCmd = "check_validators"
  Condition = "contains"
  Expected = ["{{index $.NodePubKeyList 0}}"]

[[TestCases]]
  RunCmd = "example-cli call list_validatorsV2"
  Condition = ""

[[TestCases]]
  RunCmd = "kill_and_restart_node" # add parameter to indicate precise node

[[TestCases]]
  RunCmd = "example-cli call list_validatorsV2"
  All = true
  Condition = ""
