[[TestCases]]
  RunCmd = "example-cli call balance {{index $.AccountAddressList 0}}"
  All = true
  Condition = "contains"
  Expected = ["100000000000000000000"]

[[TestCases]]
  RunCmd = "example-cli call balance {{index $.AccountAddressList 1}}"
  All = true
  Condition = "contains"
  Expected = ["100000000000000000000"]

[[TestCases]]
  RunCmd = "example-cli call balance {{index $.AccountAddressList 2}}"
  All = true
  Condition = "contains"
  Expected = ["100000000000000000000"]

[[TestCases]]
  RunCmd = "example-cli call transfer {{index $.AccountAddressList 1}} 20 -p {{index $.AccountPrivKeyPathList 2}}"

[[TestCases]]
  RunCmd = "example-cli call balance {{index $.AccountAddressList 1}}"
  All = true
  Condition = "contains"
  Expected = ["120000000000000000000"]

[[TestCases]]
  RunCmd = "example-cli call balance {{index $.AccountAddressList 2}}"
  All = true
  Condition = "contains"
  Expected = ["800000000000000000"]

[[TestCases]]
  RunCmd = "example-cli call list_validators"
  All = true
  Condition = "contains"
  Expected = ["{{index $.NodePubKeyList 0}}", "{{index $.NodePubKeyList 1}}", "{{index $.NodePubKeyList 2}}", "{{index $.NodePubKeyList 3}}"]

[[TestCases]]
  RunCmd = "example-cli call transfer dpos 90 -p {{index $.AccountPrivKeyPathList 0}}"

[[TestCases]]
  RunCmd = "example-cli call balance {{index $.AccountAddressList 0}}"
  All = true
  Condition = "contains"
  Expected = ["10000000000000000000"]

[[TestCases]]
  RunCmd = "example-cli call balance dpos"
  All = true
  Condition = "contains"
  Expected = ["90000000000000000000"]

[[TestCases]]
  RunCmd = "example-cli call register_candidate {{index $.AccountPubKeyList 0}} -p {{index $.AccountPrivKeyPathList 0}}"

[[TestCases]]
  RunCmd = "example-cli call register_candidate {{index $.AccountPubKeyList 1}} -p {{index $.AccountPrivKeyPathList 1}}"

[[TestCases]]
  RunCmd = "example-cli call register_candidate {{index $.AccountPubKeyList 2}} -p {{index $.AccountPrivKeyPathList 2}}"

[[TestCases]]
  RunCmd = "example-cli call list_candidates"
  All = true
  Condition = "contains"
  Expected = ["{{index $.AccountPubKeyList 0}}", "{{index $.AccountPubKeyList 1}}", "{{index $.AccountPubKeyList 2}}"]

[[TestCases]]
  RunCmd = "example-cli call vote {{index $.AccountAddressList 0}} 10 -p {{index $.AccountPrivKeyPathList 0}}"

[[TestCases]]
  RunCmd = "example-cli call vote {{index $.AccountAddressList 0}} 10 -p {{index $.AccountPrivKeyPathList 0}}"

[[TestCases]]
  RunCmd = "example-cli call vote {{index $.AccountAddressList 1}} 20 -p {{index $.AccountPrivKeyPathList 1}}"

[[TestCases]]
  RunCmd = "example-cli call vote {{index $.AccountAddressList 1}} 1 -p {{index $.AccountPrivKeyPathList 1}}"

[[TestCases]]
  RunCmd = "example-cli call vote {{index $.AccountAddressList 2}} 19 -p {{index $.AccountPrivKeyPathList 2}}"

[[TestCases]]
  RunCmd = "example-cli call list_validators"
  All = true
  Condition = "contains"
  Expected = ["{{index $.NodePubKeyList 0}}", "{{index $.NodePubKeyList 1}}", "{{index $.NodePubKeyList 2}}", "{{index $.NodePubKeyList 3}}"]

[[TestCases]]
  RunCmd = "example-cli call elect -p {{index $.AccountPrivKeyPathList 0}}"

[[TestCases]]
  RunCmd = "example-cli call list_validators"
  All = true
  Condition = "contains"
  Expected = ["{{index $.AccountPubKeyList 0}}", "{{index $.AccountPubKeyList 1}}", "{{index $.AccountPubKeyList 2}}"]

# the last round validators list would be paid for services
[[TestCases]]
  RunCmd = "example-cli call balance {{index $.NodeAddressList 0}}"
  All = true
  Condition = "contains"
  Expected = ["10000000000000000000"]

[[TestCases]]
  RunCmd = "example-cli call balance {{index $.NodeAddressList 1}}"
  All = true
  Condition = "contains"
  Expected = ["10000000000000000000"]

[[TestCases]]
  RunCmd = "example-cli call balance {{index $.NodeAddressList 2}}"
  All = true
  Condition = "contains"
  Expected = ["10000000000000000000"]

[[TestCases]]
  RunCmd = "example-cli call balance {{index $.NodeAddressList 3}}"
  All = true
  Condition = "contains"
  Expected = ["10000000000000000000"]

# DPOS remaining after paying for 4 nodes
[[TestCases]]
  RunCmd = "example-cli call balance dpos"
  All = true
  Condition = "contains"
  Expected = ["50000000000000000000"]

[[TestCases]]
  RunCmd = "example-cli call list_validators"
  All = true
  Condition = "contains"
  Expected = ["{{index $.AccountPubKeyList 0}}", "{{index $.AccountPubKeyList 1}}", "{{index $.AccountPubKeyList 2}}"]

[[TestCases]]
  RunCmd = "example-cli call balance {{index $.AccountAddressList 0}}"
  All = true
  Condition = "contains"
  Expected = ["10000000000000000000"]

[[TestCases]]
  RunCmd = "example-cli call balance {{index $.AccountAddressList 1}}"
  All = true
  Condition = "contains"
  Expected = ["12000000000000000000"]

[[TestCases]]
  RunCmd = "example-cli call balance {{index $.AccountAddressList 2}}"
  All = true
  Condition = "contains"
  Expected = ["8000000000000000000"]
