[[TestCases]]
  RunCmd = "check_validators"
  Condition = "contains"
  Expected = ["{{index $.NodePubKeyList 0}}"]

[[TestCases]]
  RunCmd = "{{ $.LoomPath }} chain-cfg list-features"
  Condition = "contains"
  Expected = [ 'dpos:v3.2' ]

[[TestCases]]
  RunCmd = "{{ $.LoomPath }} dpos3 list-validators"

[[TestCases]]
  RunCmd = "{{ $.LoomPath }} dpos3 set-downtime-period 1 -k {{index $.NodePrivKeyPathList 0}}"
  Condition = "excludes"
  Excluded = ["Error"]

[[TestCases]]
  RunCmd = "{{ $.LoomPath }} dpos3 enable-validator-jailing true -k {{index $.NodePrivKeyPathList 0}}"
  Condition = "excludes"
  Excluded = ["Error"]

[[TestCases]]
  RunCmd = "{{ $.LoomPath }} coin approve dposV3 1250000 -k {{index $.NodePrivKeyPathList 0}}"

[[TestCases]]
  RunCmd = "{{ $.LoomPath }} dpos3 register-candidate {{index $.NodePubKeyList 0}} 100 -k {{index $.NodePrivKeyPathList 0}}"

[[TestCases]]
  RunCmd = "{{ $.LoomPath }} coin approve dposV3 1250000 -k {{index $.NodePrivKeyPathList 1}}"

[[TestCases]]
  RunCmd = "{{ $.LoomPath }} dpos3 register-candidate {{index $.NodePubKeyList 1}} 100 -k {{index $.NodePrivKeyPathList 1}}"

[[TestCases]]
  RunCmd = "{{ $.LoomPath }} coin approve dposV3 1250000 -k {{index $.NodePrivKeyPathList 2}}"

[[TestCases]]
  RunCmd = "{{ $.LoomPath }} dpos3 register-candidate {{index $.NodePubKeyList 2}} 100 --name numero_dos -k {{index $.NodePrivKeyPathList 2}}"

[[TestCases]]
  RunCmd = "{{ $.LoomPath }} coin approve dposV3 1250000 -k {{index $.NodePrivKeyPathList 3}}"

[[TestCases]]
  RunCmd = "{{ $.LoomPath }} dpos3 register-candidate {{index $.NodePubKeyList 3}} 100 -k {{index $.NodePrivKeyPathList 3}}"

[[TestCases]]
  RunCmd = "{{ $.LoomPath }} dpos3 list-candidates"
  Condition = "contains"
  Expected = ["{{index $.NodePubKeyList 0}}", "{{index $.NodePubKeyList 1}}", "{{index $.NodePubKeyList 2}}", "{{index $.NodePubKeyList 3}}"]

[[TestCases]]
  RunCmd = "{{ $.LoomPath }} coin approve dposV3 222 -k {{index $.NodePrivKeyPathList 2}}"

[[TestCases]]
  RunCmd = "{{ $.LoomPath }} dpos3 delegate {{index $.NodeAddressList 1}} 222 0 -k {{index $.NodePrivKeyPathList 2}}"
  Condition = "excludes"
  Excluded = ["Error"]

[[TestCases]]
  RunCmd = "{{ $.LoomPath }} dpos3 check-all-delegations {{index $.NodeAddressList 2}}"
  Condition = "contains"
  Expected = ["chainId\": \"default"]

# kill node 1 for 15s, it should be jailed after going offline for 15s
[[TestCases]]
  RunCmd = "kill_and_restart_node 15 1"

# add some delay so that downtime periods of node 1 are cleared out
[[TestCases]]
  Delay = 15000
  RunCmd = "{{ $.LoomPath }} dpos3 downtime-record {{index $.NodeAddressList 1}} -u {{index $.NodeProxyAppAddressList 2}}"
  Condition = "contains"
  Expected = ["name","address","period"]

# wait for node 1 to catch up
[[TestCases]]
  RunCmd = "wait_for_node_to_catch_up 1"

# wait for block height to increase at least 5 blocks
[[TestCases]]
  RunCmd = "wait_for_block_height_to_increase 0 5"

# check downtime periods, it should be cleared out after 5 blocks
[[TestCases]]
  RunCmd = "{{ $.LoomPath }} dpos3 downtime-record {{index $.NodeAddressList 1}} -u {{index $.NodeProxyAppAddressList 2}}"
  Condition = "contains"
  Expected = ["name","address","period"]

# node 1 should be jailed as it is offline for 15s
[[TestCases]]
  RunCmd = "{{ $.LoomPath }} dpos3 list-candidates -u {{index $.NodeProxyAppAddressList 2}}"
  Condition = "contains"
  Expected = ["jailed\": true"]

# check downtime periods before unjailing the validator
[[TestCases]]
  RunCmd = "{{ $.LoomPath }} dpos3 downtime-record {{index $.NodeAddressList 1}} -u {{index $.NodeProxyAppAddressList 2}}"
  Condition = "contains"
  Expected = ["name","address","period","0"]

[[TestCases]]
  RunCmd = "{{ $.LoomPath }} dpos3 unjail-validator -k {{index $.NodePrivKeyPathList 1}} -u {{index $.NodeProxyAppAddressList 2}}"
  Condition = "contains"
  Expected = [""]

# wait for block height to increase at least 2 blocks
[[TestCases]]
  RunCmd = "wait_for_block_height_to_increase 0 2"

[[TestCases]]
  RunCmd = "{{ $.LoomPath }} dpos3 list-candidates -u {{index $.NodeProxyAppAddressList 2}}"
  Condition = "excludes"
  Excluded = ["jailed\": true"]


