[[TestCases]]
  RunCmd = "check_validators"
  Condition = "contains"
  Expected = ["{{index $.NodePubKeyList 0}}"]

[[TestCases]]
  RunCmd = "{{ $.LoomPath }} chain-cfg list-features"
  Condition = "contains"
  Expected = [ 'dpos:v3.2', 'dpos:v3.4' ]

[[TestCases]]
  RunCmd = "{{ $.LoomPath }} dpos3 list-validators"

[[TestCases]]
  RunCmd = "{{ $.LoomPath }} dpos3 set-downtime-period 5 -k {{index $.NodePrivKeyPathList 0}}"
  Condition = "excludes"
  Excluded = ["Error"]

[[TestCases]]
  RunCmd = "{{ $.LoomPath }} dpos3 set-max-downtime-percentage 100 -k {{index $.NodePrivKeyPathList 0}}"
  Condition = "excludes"
  Excluded = ["Error"]

[[TestCases]]
  RunCmd = "kill_and_restart_node 10 1"

[[TestCases]]
  RunCmd = "{{ $.LoomPath }} dpos3 list-validators"
  Node = 1
  Condition = "contains"
  Expected = ["Error"]

[[TestCases]]
  RunCmd = "{{ $.LoomPath }} dpos3 list-validators"
  Node = 0
  Condition = "contains"
  Expected = ["address"]

[[TestCases]]
  RunCmd = "{{ $.LoomPath }} coin approve dposV3 1250000 -k {{index $.NodePrivKeyPathList 2}}"

[[TestCases]]
  RunCmd = "{{ $.LoomPath }} dpos3 register-candidate {{index $.NodePubKeyList 2}} 100 --name numero_dos -k {{index $.NodePrivKeyPathList 2}}"

[[TestCases]]
  RunCmd = "{{ $.LoomPath }} coin approve dposV3 1250000 -k {{index $.NodePrivKeyPathList 3}}"

[[TestCases]]
  RunCmd = "{{ $.LoomPath }} dpos3 register-candidate {{index $.NodePubKeyList 3}} 100 -k {{index $.NodePrivKeyPathList 3}}"

[[TestCases]]
  RunCmd = "{{ $.LoomPath }} dpos3 list-candidates"
  Condition = "contains"
  Expected = ["{{index $.NodePubKeyList 3}}", "{{index $.NodePubKeyList 2}}"]

[[TestCases]]
  RunCmd = "{{ $.LoomPath }} dpos3 list-validators"
  Node = 0
  Condition = "contains"
  Expected = ["address"]

[[TestCases]]
  RunCmd = "{{ $.LoomPath }} dpos3 list-validators"
  Node = 1
  Condition = "contains"
  Expected = ["address"]

[[TestCases]]
  RunCmd = "{{ $.LoomPath }} coin approve dposV3 1250000 -k {{index $.NodePrivKeyPathList 1}}"

[[TestCases]]
  RunCmd = "{{ $.LoomPath }} dpos3 register-candidate {{index $.NodePubKeyList 1}} 100 -k {{index $.NodePrivKeyPathList 1}}"

[[TestCases]]
  RunCmd = "{{ $.LoomPath }} coin approve dposV3 200000 -k {{index $.AccountPrivKeyPathList 0}}"

[[TestCases]]
  RunCmd = "{{ $.LoomPath }} dpos3 delegate {{index $.NodeAddressList 2}} 200000 -k {{index $.AccountPrivKeyPathList 0}}"

[[TestCases]]
  RunCmd = "{{ $.LoomPath }} coin approve dposV3 200000 -k {{index $.AccountPrivKeyPathList 1}}"

[[TestCases]]
  RunCmd = "{{ $.LoomPath }} dpos3 delegate {{index $.NodeAddressList 3}} 200000 -k {{index $.AccountPrivKeyPathList 1}}"

[[TestCases]]
  RunCmd = "kill_and_restart_node 100 1"

# Explicitly testing that currently offline node is among the validator set
[[TestCases]]
  RunCmd = "{{ $.LoomPath }} dpos3 list-validators"
  Condition = "contains"
  Expected = ["{{index $.NodeBase64AddressList 1}}", "{{index $.NodeBase64AddressList 2}}", "{{index $.NodeBase64AddressList 3}}"]
  Delay = 16000

# Checking that killed node is indeed offline
[[TestCases]]
  RunCmd = "{{ $.LoomPath }} dpos3 list-validators"
  Node = 1
  Condition = "contains"
  Expected = ["Error"]

[[TestCases]]
  RunCmd = "{{ $.LoomPath }} dpos3 downtime-record {{index $.NodeAddressList 1}}"
  Condition = "contains"
  Expected = ["name","address","period"]

[[TestCases]]
  RunCmd = "{{ $.LoomPath }} dpos3 downtime-record {{index $.NodeAddressList 2}}"
  Condition = "contains"
  Expected = ["name","address","period"]

[[TestCases]]
  RunCmd = "{{ $.LoomPath }} dpos3 downtime-record"
  Condition = "contains"
  Expected = ["name","address","period"]

# Attempting to do dPoS transaction with only 2 of 3 elected validators online
[[TestCases]]
  RunCmd = "{{ $.LoomPath }} coin approve dposV3 200000 -k {{index $.AccountPrivKeyPathList 1}}"

[[TestCases]]
  RunCmd = "{{ $.LoomPath }} dpos3 delegate {{index $.NodeAddressList 3}} 200000 -k {{index $.AccountPrivKeyPathList 1}}"

[[TestCases]]
  RunCmd = "{{ $.LoomPath }} dpos3 check-delegation {{index $.NodeAddressList 2}} {{index $.AccountAddressList 0}}"
  Condition = "contains"
  Expected = ["2000000000000000000"]
