[[TestCases]]
  RunCmd = "example-cli call balance {{index $.NodeAddressList 0}}"
  Condition = "contains"
  Expected = ["Value"]

[[TestCases]]
  RunCmd = "check_validators"
  Condition = "contains"
  Expected = ["{{index $.NodePubKeyList 2}}"]

[[TestCases]]
  RunCmd = "example-cli call balance {{index $.NodeAddressList 2}}"
  Condition = "contains"
  Expected = ["100000000000000000000"]

[[TestCases]]
  RunCmd = "example-cli call approve dposV2 10 -p {{index $.NodePrivKeyPathList 1}}"
  Condition = ""

[[TestCases]]
  RunCmd = "example-cli call approve dposV2 20 -p {{index $.NodePrivKeyPathList 2}}"
  Condition = ""

[[TestCases]]
  RunCmd = "example-cli call approve dposV2 20 -p {{index $.NodePrivKeyPathList 3}}"
  Condition = ""

[[TestCases]]
  RunCmd = "example-cli call register_candidateV2 {{index $.NodePubKeyList 1}} 100 -p {{index $.NodePrivKeyPathList 1}}"

[[TestCases]]
  RunCmd = "example-cli call register_candidateV2 {{index $.NodePubKeyList 2}} 100 -p {{index $.NodePrivKeyPathList 2}}"

[[TestCases]]
  RunCmd = "example-cli call delegateV2 {{index $.NodeAddressList 1}} 20 -p {{index $.NodePrivKeyPathList 2}}"
  Condition = ""

[[TestCases]]
  RunCmd = "example-cli call register_candidateV2 {{index $.NodePubKeyList 3}} 100 -p {{index $.NodePrivKeyPathList 3}}"

[[TestCases]]
  RunCmd = "check_validators"
  Condition = "contains"
  Expected = ["20000000000", "{{index $.NodePubKeyList 1}}"]

[[TestCases]]
  RunCmd = "example-cli call delegateV2 {{index $.NodeAddressList 2}} 20 -p {{index $.NodePrivKeyPathList 3}}"
  Condition = ""

[[TestCases]]
  RunCmd = "example-cli call delegateV2 {{index $.NodeAddressList 3}} 10 -p {{index $.NodePrivKeyPathList 1}}"
  Condition = ""

[[TestCases]]
  RunCmd = "example-cli call list_validatorsV2"
  Condition = ""

[[TestCases]]
  RunCmd = "example-cli call check_delegationV2 {{index $.NodeAddressList 2}} {{index $.NodeAddressList 3}}"
  Condition = "contains"
  Expected = ["2000000000000000000"]

[[TestCases]]
  RunCmd = "example-cli call check_delegationV2 {{index $.NodeAddressList 1}} {{index $.NodeAddressList 2}}"
  Condition = "contains"
  Expected = ["2000000000000000000"]

[[TestCases]]
  RunCmd = "example-cli call check_delegationV2 {{index $.NodeAddressList 3}} {{index $.NodeAddressList 1}}"
  Condition = "contains"
  Expected = ["1000000000000000000"]

[[TestCases]]
  RunCmd = "example-cli call list_validatorsV2"
  Condition = "contains"
  Expected = ["\"power\": \"20000000000\"", "{{index $.NodePubKeyList 1}}", "{{index $.NodePubKeyList 2}}"]

[[TestCases]]
  RunCmd = "example-cli call balance {{index $.NodeAddressList 2}}"
  Condition = "contains"
  Expected = ["8000000000000000000"]

# Will bring back once rewards are finalized
# [[TestCases]]
#   RunCmd = "example-cli call balance dposV2"
#   Condition = "contains"
#   Expected = ["5000000000000000000"]

[[TestCases]]
  RunCmd = "example-cli call unbondV2 {{index $.NodeAddressList 1}} 15 -p {{index $.NodePrivKeyPathList 2}}"
  Condition = ""

[[TestCases]]
  RunCmd = "example-cli call balance {{index $.NodeAddressList 2}}"
  Condition = "contains"
  Expected = ["9500000000000000000"]

# After node2 unbonded from node1, node1 should be removed from validators list (num_validators = 2) and be replaced with node3 which only had a delegation 1/2 as large as 1 & 2.
[[TestCases]]
  RunCmd = "example-cli call list_validatorsV2"
  Condition = "contains"
  Expected = ["\"power\": \"10000000000\"", "{{index $.NodePubKeyList 2}}", "{{index $.NodePubKeyList 3}}"]

[[TestCases]]
  RunCmd = "example-cli call claim_distributionV2 {{index $.NodeAddressList 2}} -p {{index $.NodePrivKeyPathList 2}}"
  Condition = "contains"

[[TestCases]]
  RunCmd = "example-cli call claim_distributionV2 {{index $.NodeAddressList 2}} -p {{index $.NodePrivKeyPathList 2}}"
  Condition = "contains"
