[[TestCases]]
  RunCmd = "example-cli call transfer dpos 80 -p {{index $.AccountPrivKeyPathList 0}}"
  Condition = ""

[[TestCases]]
  RunCmd = "example-cli call transfer dpos 80 -p {{index $.AccountPrivKeyPathList 1}}"
  Condition = ""

[[TestCases]]
  RunCmd = "example-cli call balance dpos"
  All = true
  Condition = "contains"
  Expected = ["160000000000000000000"]

[[TestCases]]
  RunCmd = "example-cli call register_candidate {{index $.AccountPubKeyList 0}} -p {{index $.AccountPrivKeyPathList 0}}"
  Condition = ""

[[TestCases]]
  RunCmd = "example-cli call register_candidate {{index $.AccountPubKeyList 1}} -p {{index $.AccountPrivKeyPathList 1}}"
  Condition = ""

[[TestCases]]
  RunCmd = "example-cli call register_candidate {{index $.AccountPubKeyList 2}} -p {{index $.AccountPrivKeyPathList 2}}"
  Condition = ""

[[TestCases]]
  RunCmd = "example-cli call list_candidates"
  Condition = "contains"
  Expected = ["{{index $.AccountPubKeyList 0}}", "{{index $.AccountPubKeyList 1}}", "{{index $.AccountPubKeyList 2}}"]

# [[TestCases]]
#   RunCmd = "checkapphash"
#   Condition = ""

[[TestCases]]
  Delay = 1000
  RunCmd = "example-cli call vote {{index $.AccountAddressList 0}} 21 -p {{index $.AccountPrivKeyPathList 0}}"
  Condition = ""

# [[TestCases]]
#   RunCmd = "example-cli call vote {{index $.AccountAddressList 0}} 10 -p {{index $.AccountPrivKeyPathList 0}}"
#   Condition = ""

# [[TestCases]]
#   RunCmd = "example-cli call vote {{index $.AccountAddressList 1}} 20 -p {{index $.AccountPrivKeyPathList 1}}"
#   Condition = ""

# [[TestCases]]
#   RunCmd = "example-cli call vote {{index $.AccountAddressList 0}} 1 -p {{index $.AccountPrivKeyPathList 0}}"
#   Condition = ""

# [[TestCases]]
#   RunCmd = "example-cli call vote {{index $.AccountAddressList 2}} 19 -p {{index $.AccountPrivKeyPathList 2}}"
#   Condition = ""

[[TestCases]]
  RunCmd = "example-cli call list_witnesses"
  Condition = "contains"
  Expected = ["{{index $.NodePubKeyList 0}}", "{{index $.NodePubKeyList 1}}", "{{index $.NodePubKeyList 2}}", "{{index $.NodePubKeyList 3}}", "{{index $.NodePubKeyList 4}}", "{{index $.NodePubKeyList 5}}", "{{index $.NodePubKeyList 6}}", "{{index $.NodePubKeyList 7}}"]

# [[TestCases]]
#   RunCmd = "checkapphash"
#   Condition = ""

[[TestCases]]
  RunCmd = "example-cli call elect -p {{index $.AccountPrivKeyPathList 0}}"
  Condition = ""
  Delay = 1000

# [[TestCases]]
#   RunCmd = "checkapphash"
#   Delay = 1000
#   Condition = ""

[[TestCases]]
  RunCmd = "example-cli call list_witnesses"
  All = true
  Condition = "contains"
  Expected = ["{{index $.AccountPubKeyList 0}}"]

# # DPOS remaing after paying for 8 nodes
[[TestCases]]
  RunCmd = "example-cli call balance dpos"
  All = true
  # Condition = "contains"
  # Expected = ["80000000000000000000"]


[[TestCases]]
  RunCmd = "example-cli call register_candidate {{index $.AccountPubKeyList 3}} -p {{index $.AccountPrivKeyPathList 3}}"
  Condition = ""

[[TestCases]]
  RunCmd = "example-cli call list_candidates"
  All = true
  # Condition = "contains"
  # Expected = ["{{index $.AccountPubKeyList 0}}", "{{index $.AccountPubKeyList 1}}", "{{index $.AccountPubKeyList 2}}", "{{index $.AccountPrivKeyPathList 3}}"]

[[TestCases]]
  RunCmd = "example-cli call vote {{index $.AccountAddressList 3}} 21 -p {{index $.AccountPrivKeyPathList 3}}"
  Condition = ""

# [[TestCases]]
#   RunCmd = "checkapphash"
#   Condition = ""

[[TestCases]]
  RunCmd = "example-cli call elect -p {{index $.AccountPrivKeyPathList 4}}"
  Condition = ""
  Delay = 1000

[[TestCases]]
  RunCmd = "example-cli call list_witnesses"
  All = true
  Condition = "contains"
  Expected = ["{{index $.AccountPubKeyList 3}}"]

# [[TestCases]]
#   RunCmd = "example-cli call vote {{index $.AccountAddressList 2}} 21 -p {{index $.AccountPrivKeyPathList 2}}"
#   Condition = ""

# [[TestCases]]
#   RunCmd = "example-cli call vote {{index $.AccountAddressList 3}} 21 -p {{index $.AccountPrivKeyPathList 3}}"
#   Condition = ""

# [[TestCases]]
#   RunCmd = "example-cli call elect -p {{index $.AccountPrivKeyPathList 0}}"
#   Condition = ""
#   Delay = 1000

# [[TestCases]]
#   RunCmd = "example-cli call list_witnesses"
#   Condition = "contains"
#   Expected = ["{{index $.AccountPubKeyList 2}}"]


# [[TestCases]]
#   RunCmd = "example-cli call register_candidate {{index $.AccountPubKeyList 4}} -p {{index $.AccountPrivKeyPathList 4}}"
#   Condition = ""

# [[TestCases]]
#   RunCmd = "example-cli call vote {{index $.AccountAddressList 4}} 21 -p {{index $.AccountPrivKeyPathList 4}}"
#   Condition = ""

# [[TestCases]]
#   RunCmd = "example-cli call list_candidates"

# [[TestCases]]
#   RunCmd = "example-cli call elect -p {{index $.AccountPrivKeyPathList 0}}"
#   Condition = ""
#   Delay = 1000

# [[TestCases]]
#   RunCmd = "example-cli call list_witnesses"
#   Condition = "contains"
#   Expected = ["{{index $.AccountPubKeyList 4}}"]






# # the last round witnesses list would be paid for services
# [[TestCases]]
#   RunCmd = "example-cli call balance {{index $.NodeAddressList 0}}"
#   Condition = "contains"
#   Expected = ["10000000000000000000"]

# [[TestCases]]
#   RunCmd = "example-cli call balance {{index $.NodeAddressList 1}}"
#   Condition = "contains"
#   Expected = ["10000000000000000000"]

# [[TestCases]]
#   RunCmd = "example-cli call balance {{index $.NodeAddressList 2}}"
#   Condition = "contains"
#   Expected = ["10000000000000000000"]

# [[TestCases]]
#   RunCmd = "example-cli call balance {{index $.NodeAddressList 3}}"
#   Condition = "contains"
#   Expected = ["10000000000000000000"]

# [[TestCases]]
#   RunCmd = "example-cli call balance {{index $.NodeAddressList 4}}"
#   Condition = "contains"
#   Expected = ["10000000000000000000"]

# [[TestCases]]
#   RunCmd = "example-cli call balance {{index $.NodeAddressList 5}}"
#   Condition = "contains"
#   Expected = ["10000000000000000000"]


# [[TestCases]]
#   RunCmd = "example-cli call balance {{index $.NodeAddressList 6}}"
#   Condition = "contains"
#   Expected = ["10000000000000000000"]


# [[TestCases]]
#   RunCmd = "example-cli call balance {{index $.NodeAddressList 7}}"
#   Condition = "contains"
#   Expected = ["10000000000000000000"]


# # DPOS remaing after paying for 8 nodes
# [[TestCases]]
#   RunCmd = "example-cli call balance dpos"
#   Condition = "contains"
#   Expected = ["80000000000000000000"]

# [[TestCases]]
#   RunCmd = "example-cli call elect -p {{index $.AccountPrivKeyPathList 0}}"
#   Condition = ""

# [[TestCases]]
#   RunCmd = "example-cli call balance {{index $.AccountAddressList 0}}"
#   Condition = "contains"
#   Expected = ["20000000000000000000"]


# [[TestCases]]
#   RunCmd = "example-cli call balance {{index $.AccountAddressList 1}}"
#   Condition = "contains"
#   Expected = ["13000000000000000000"]

# [[TestCases]]
#   RunCmd = "example-cli call balance {{index $.AccountAddressList 2}}"
#   Condition = "contains"
#   Expected = ["9000000000000000000"]

# [[TestCases]]
#   RunCmd = "example-cli call balance dpos"
#   Condition = "contains"
#   Expected = ["2000000000000000000"]