
[[TestCases]]
  RunCmd = '/usr/bin/curl -X POST --data {"jsonrpc":"2.0","method":"eth_newBlockFilter","params":[],"id":83} {{index $.NodeProxyAppAddressList 0}}/eth'
  Condition = "contains"
  Expected = [
                '"result": "0x'
             ]
[[TestCases]]
  RunCmd = '/usr/bin/curl -X POST --data {"jsonrpc":"2.0","method":"eth_newBlockFilter","params":[],"id":83} {{index $.NodeProxyAppAddressList 0}}/eth'
  Condition = "excludes"
  Expected = [
                '"result": "0x0',
                '"result": null'
             ]

[[TestCases]]
  RunCmd = '/usr/bin/curl -X POST --data {"jsonrpc":"2.0","method":"eth_newPendingTransactionFilter","params":[],"id":83} {{index $.NodeProxyAppAddressList 0}}/eth'
  Condition = "contains"
  Expected = [
                '"result": "0x'
             ]
[[TestCases]]
  RunCmd = '/usr/bin/curl -X POST --data {"jsonrpc":"2.0","method":"eth_newPendingTransactionFilter","params":[],"id":83} {{index $.NodeProxyAppAddressList 0}}/eth'
  Condition = "excludes"
  Expected = [
                '"result": "0x0',
                '"result": null'
             ]

[[TestCases]]
  RunCmd = '/usr/bin/curl -X POST --data {"jsonrpc":"2.0","method":"eth_newFilter","params":[{}],"id":83} {{index $.NodeProxyAppAddressList 0}}/eth'
  Condition = "contains"
  Expected = [
                '"result": "0x'
             ]

[[TestCases]]
  RunCmd = '/usr/bin/curl -X POST --data {"jsonrpc":"2.0","method":"eth_newFilter","params":[{}],"id":83} {{index $.NodeProxyAppAddressList 0}}/eth'
  Condition = "excludes"
  Expected = [
                '"result": "0x0',
                '"result": null'
             ]


