[[TestCases]]
  Delay = 1000
  RunCmd = "{{ $.LoomPath }} chain-cfg list-features"
  Condition = "contains"
  Expected = ["tx:migration"]

[[TestCases]]
  RunCmd = "check_validators"
  Condition = "contains"
  Expected = ["{{index $.NodePubKeyList 0}}"]

[[TestCases]]
  RunCmd = "{{ $.LoomPath }} dposV2 list_validatorsV2"
  Condition = "contains"
  Expected = ["{{index $.NodePubKeyList 0}}"]

[[TestCases]]
  RunCmd = "{{ $.LoomPath }} coin approve dposV2 1250000 -k {{index $.NodePrivKeyPathList 1}}"

[[TestCases]]
  RunCmd = "{{ $.LoomPath }} dposV2 register_candidateV2 {{index $.NodePubKeyList 1}} 100 -k {{index $.NodePrivKeyPathList 1}}"

[[TestCases]]
  RunCmd = "check_validators"
  Condition = "contains"
  Expected = ["{{index $.NodePubKeyList 1}}"]

[[TestCases]]
  RunCmd = "{{ $.LoomPath }} dposV2 list_validatorsV2"
  Condition = "contains"
  Expected = ["{{index $.NodePubKeyList 1}}"]

[[TestCases]]
  RunCmd = "{{ $.LoomPath }} coin approve dposV2 20 -k {{index $.NodePrivKeyPathList 2}}"
  Condition = "excludes"
  Excluded = ["Error"]

[[TestCases]]
  RunCmd = "{{ $.LoomPath }} dposV2 delegateV2 {{index $.NodeAddressList 1}} 20 -k {{index $.NodePrivKeyPathList 2}}"
  Condition = "excludes"
  Excluded = ["Error"]

[[TestCases]]
  RunCmd = "{{ $.LoomPath }} coin balance dposV2"
  Condition = "contains"
  Expected = ["1250020000000000000000000"]

[[TestCases]]
  RunCmd = "{{ $.LoomPath }} dposV2 list_validatorsV2"
  Condition = "excludes"
  Excluded = ["{{index $.NodePubKeyList 0}}"]

[[TestCases]]
  RunCmd = "{{ $.LoomPath }} dposV2 check_delegationV2 {{index $.NodeAddressList 1}} {{index $.NodeAddressList 2}}"
  Condition = "contains"
  Expected = ["BONDED"]

[[TestCases]]
  RunCmd = "{{ $.LoomPath }} migration --id 1 -k {{index $.NodePrivKeyPathList 0}}"
  Condition = "contains"
  Expected = [ "Migration ID 1 has been processed successfully" ]

[[TestCases]]
  RunCmd = "{{ $.LoomPath }} migration --id 1 -k {{index $.NodePrivKeyPathList 0}}"
  Condition = "contains"
  Expected = [ "Error: migration ID 1 has already been processed" ]

[[TestCases]]
  RunCmd = "{{ $.LoomPath }} migration --id 2 --numerator 0 --denominator 10 --base-minting-amount 10 --mintingaccount {index $.NodeAddressList 1} -k {{index $.NodePrivKeyPathList 0}}"
  Condition = "contains"
  Expected = ["DeflationFactorNumerator should be greater than zero"]

[[TestCases]]
  RunCmd = "{{ $.LoomPath }} migration --id 2 --numerator 1 --denominator 0 --base-minting-amount 10 --mintingaccount {index $.NodeAddressList 1} -k {{index $.NodePrivKeyPathList 0}}"
  Condition = "contains"
  Expected = ["DeflationFactorDenominator should be greater than zero"]

[[TestCases]]
  RunCmd = "{{ $.LoomPath }} migration --id 2 --numerator 1 --denominator 10 --base-minting-amount 0 --mintingaccount {index $.NodeAddressList 1} -k {{index $.NodePrivKeyPathList 0}}"
  Condition = "contains"
  Expected = ["Base Minting Amount should be greater than zero"]

 [[TestCases]]
   RunCmd = "{{ $.LoomPath }} migration --id 2 --numerator 1 --denominator 10 --base-minting-amount 10 --mintingaccount test -k {{index $.NodePrivKeyPathList 0}}"
   Condition = "contains"
   Expected = ["invalid address"]

[[TestCases]]
  RunCmd = "{{ $.LoomPath }} migration --id 2 --numerator 1 --denominator 10 --base-minting-amount 10 --mintingaccount default:0x5cecd1f7261e1f4c684e297be3edf03b825e01c5 -k {{index $.NodePrivKeyPathList 0}}"
  Condition = "contains"
  Expected = ["Migration ID 2 has been processed successfully" ]

[[TestCases]]
  RunCmd = "{{ $.LoomPath }} dposV2 list_validatorsV2"
  Condition = "contains"
  Expected = ["{{index $.NodePubKeyList 1}}"]

[[TestCases]]
  RunCmd = "{{ $.LoomPath }} coin balance dposV3"
  Condition = "contains"
  Expected = ["1250020000000000000000000"]

[[TestCases]]
  RunCmd = "{{ $.LoomPath }} dpos3 list-validators"
  Condition = "contains"
  Expected = ["local"]

[[TestCases]]
  RunCmd = "check_validators"
  Condition = "contains"
  Expected = ["{{index $.NodePubKeyList 1}}"]

[[TestCases]]
  RunCmd = "{{ $.LoomPath }} dpos3 list-candidates"
  Condition = "contains"
  Excluded = ["{{index $.NodePubKeyList 1}}"]

[[TestCases]]
  RunCmd = "{{ $.LoomPath }} dpos3 list-validators"
  Condition = "excludes"
  Excludes = ["{{index $.NodeBase64AddressList 0}}"]

[[TestCases]]
  RunCmd = "check_validators"
  Condition = "excludes"
  Excludes = ["{{index $.NodePubKeyList 0}}"]

# The validatorCount is only set to a non-zero value in dposV3.Initialize so if
# the value is 14, it implies the v2 state was successfully transferred to v3
[[TestCases]]
  RunCmd = "{{ $.LoomPath }} dpos3 get-dpos-state"
  Condition = "contains"
  Expected = ["\"validatorCount\": \"14\""]

# Check that delegation was properly migrated
[[TestCases]]
  RunCmd = "{{ $.LoomPath }} dpos3 check-delegation {{index $.NodeAddressList 1}} {{index $.NodeAddressList 2}}"
  Condition = "contains"
  Expected = ["2000000000000000000"]

[[TestCases]]
  RunCmd = "{{ $.LoomPath }} coin approve dposV2 20 -k {{index $.NodePrivKeyPathList 2}}"
  Condition = "excludes"
  Excluded = ["Error"]

[[TestCases]]
  RunCmd = "{{ $.LoomPath }} dposV2 check_delegationV2 {{index $.NodeAddressList 1}} {{index $.NodeAddressList 2}}"
  Condition = "contains"
  Expected = ["BONDED"]

# Checking that Node 1 got a reward distribution in v2
[[TestCases]]
  RunCmd = "{{ $.LoomPath }} dposV2 check_distribution {{index $.NodeAddressList 1}}"
  Condition = "contains"
  Expected = ["amount", "Value"]

# Checking that Node1's distribution is transfered to a delegation in v3
[[TestCases]]
  RunCmd = "{{ $.LoomPath }} dpos3 check-delegation {{index $.NodeAddressList 1}} {{index $.NodeAddressList 1}}"
  Condition = "contains"
  Expected = ["\"lockTime\": \"0\""]

# Check that delegators cannot delegate to dposV2 post-migration
[[TestCases]]
  RunCmd = "{{ $.LoomPath }} dposV2 delegateV2 {{index $.NodeAddressList 1}} 20 -k {{index $.NodePrivKeyPathList 2}}"
  Condition = "contains"
  Expected = ["Error"]
