[[TestCases]]
  RunCmd = "{{ $.LoomPath }} deploy -b SimpleStore.bin -n SimpleStore -k {{index $.AccountPrivKeyPathList 0}}"
  Datafiles = [
    { Filename = "SimpleStore.bin", Contents = "6060604052341561000f57600080fd5b60d38061001d6000396000f3006060604052600436106049576000357c0100000000000000000000000000000000000000000000000000000000900463ffffffff16806360fe47b114604e5780636d4ce63c14606e575b600080fd5b3415605857600080fd5b606c60048080359060200190919050506094565b005b3415607857600080fd5b607e609e565b6040518082815260200191505060405180910390f35b8060008190555050565b600080549050905600a165627a7a723058202b229fba38c096f9c9c81ba2633fb4a7b418032de7862b60d1509a4054e2d6bb0029" }
  ]

[[TestCases]]
  RunCmd = "wait_for_node_to_catch_up 1"

[[TestCases]]
  RunCmd = "{{ $.LoomPath }} deploy -b TestEvent.bin -n TestEvent -k {{index $.AccountPrivKeyPathList 0}}"
  Condition = "contains"
  Expected = [  "New contract deployed with" ]
  Datafiles = [
    { Filename = "TestEvent.bin", Contents = "6080604052348015600f57600080fd5b5060b48061001e6000396000f3fe6080604052348015600f57600080fd5b506004361060285760003560e01c8063d0a2d2cb14602d575b600080fd5b605660048036036020811015604157600080fd5b81019080803590602001909291905050506058565b005b807f6c2b4666ba8da5a95717621d879a77de725f3d816709b9cbe9f059b8f875e28460405160405180910390a25056fea165627a7a7230582016f1260ff3c0c4cb4ae77e5671c47dd1bf7428e651451a0713334e14f820a8c50029" }
  ]

[[TestCases]]
  RunCmd = "wait_for_node_to_catch_up 1"

[[TestCases]]
  RunCmd = "{{ $.LoomPath }} deploy -b ChainTestEvent.bin -n ChainTestEvent -k {{index $.AccountPrivKeyPathList 0}}"
  Condition = "contains"
  Expected = [  "New contract deployed with" ]
  Datafiles = [
    { Filename = "ChainTestEvent.bin", Contents = "608060405234801561001057600080fd5b50610204806100206000396000f3fe608060405234801561001057600080fd5b506004361061002b5760003560e01c80633163597714610030575b600080fd5b61005c6004803603602081101561004657600080fd5b810190808035906020019092919050505061005e565b005b600060405161006c906100fa565b604051809103906000f080158015610088573d6000803e3d6000fd5b5090508073ffffffffffffffffffffffffffffffffffffffff1663d0a2d2cb836040518263ffffffff1660e01b815260040180828152602001915050600060405180830381600087803b1580156100de57600080fd5b505af11580156100f2573d6000803e3d6000fd5b505050505050565b60d2806101078339019056fe6080604052348015600f57600080fd5b5060b48061001e6000396000f3fe6080604052348015600f57600080fd5b506004361060285760003560e01c8063d0a2d2cb14602d575b600080fd5b605660048036036020811015604157600080fd5b81019080803590602001909291905050506058565b005b807f6c2b4666ba8da5a95717621d879a77de725f3d816709b9cbe9f059b8f875e28460405160405180910390a25056fea165627a7a72305820d39be77fb7bd69477e9bc1d28b88af64b93c72fed5f5506b943573d5cdaf873a0029a165627a7a72305820ebce57a6324c972c70ea583c14e607f393a99d98b23322d9f3b7e1ef339ddef10029" }
  ]

[[TestCases]]
  RunCmd = "wait_for_node_to_catch_up 1"

[[TestCases]]
  RunCmd = "{{ $.LoomPath }} testing test-nested-evm -k {{index $.AccountPrivKeyPathList 0}}"
  Condition = "contains"
  Expected = [ 'Successful test nested evm call' ]

[[TestCases]]
  RunCmd = "wait_for_node_to_catch_up 1"

[[TestCases]]
  RunCmd = '/usr/bin/curl -X POST --data {"jsonrpc":"2.0","method":"eth_getBlockByNumber","params":["0x7",true],"id":83} {{index $.NodeProxyAppAddressList 0}}/eth'

[[TestCases]]
  RunCmd = '/usr/bin/curl -X POST --data {"jsonrpc":"2.0","method":"eth_getBlockByNumber","params":["0x8",true],"id":83} {{index $.NodeProxyAppAddressList 0}}/eth'
  Condition = "contains"
  Expected = [  '"input": "0x080110011a140a12546573744e657374656445766d43616c6c73"' ]

[[TestCases]]
  RunCmd = '/usr/bin/curl -X POST --data {"jsonrpc":"2.0","method":"eth_getLogs","params":[{"fromBlock":"0x8"}],"id":83} {{index $.NodeProxyAppAddressList 0}}/eth'
    Condition = "contains"
    Expected = [
        '"topics": [',
        '"0x6c2b4666ba8da5a95717621d879a77de725f3d816709b9cbe9f059b8f875e284",',
        '"0x0000000000000000000000000000000000000000000000000000000000000041"',
        '"0x0000000000000000000000000000000000000000000000000000000000000021"'
    ]

